/* Layout */

.left-column {
    width: 300px;
    padding: 25px
}

.branding {
    margin: 0 0 25px 0;
}

.branding h1 {
    margin-top: 15px;
}

.user-menu {
    margin-top: 50px;
    padding-top: 25px;
}

.page-body {
    padding: 25px;
    max-width: 980px;
}

/* Rendering */

.left-column {
    background: #f0f0f0;
    border-right: thin solid #ccc;
}

.user-menu {
    border-top: thin solid #aaa;
}

.branding {
    text-align: center;
}

.branding img {
    width: 200px;
    border: thick solid black;
}

.wtform-edit input[type="text"],
.wtform-edit textarea {
    width: 100%;
}

/* utilities */

.pre-x-scrollable {
    overflow: auto;
    -ms-word-wrap: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
}

/* domainlib */

.domainlib-body {
    margin-top: 3em;
}

